// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// logo style
html body header div .navbar-brand span b {
    color: $orange-QRcahnce;
    text-transform : uppercase;
    font-family: 'Comfortaa', cursive;
}

html body header div .navbar-brand span {
    color: #3e3e3e;
    text-transform: inherit;
    font-family: Comfortaa;
    font-size: 1.32rem;
    line-height: 3.63rem;
}
// language-callaps menu
.language-callapse {
    font-size: 15px;
    color: #3e3e3e;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 31.04%;
}
.icon-size {
    width: 19px;
    height: 100%;
    margin-right: 8px;
}

.language-callapse span{
    position: absolute;
    top: 2px;
    left: 31px;
}
// banner-block
.main-banner-bg {
    background: url(/assets/images/main_banner_bg_1920.jpg);
    background-position: bottom;
    background-size: cover;
    height: 729px;
}
.banner-head-block {
    padding: 162px 0 0 0;
}
.banner-title {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 22px;
    position: relative;
}
.banner-title-qrcode-text {
    color: #3e3e3e;
    font-family: "Comfortaa", cursive;
    position: absolute;
    left: 55px;
    top: 3px;
}

.banner-title-domaine-text {
    font-family: "Comfortaa", cursive;
    position: absolute;
    left: 122px;
    top: 1px;
}

.banner-title-qrcode-pic {
    width: 82px;
    height: 82px;
    position: absolute;
    left: 49px;
    top: -15px;
    opacity: 10%;
}

.banner-list {
    >ul {
    margin: 0;
    padding: 0;
    }
}

.banner-list ul li:nth-child(1) {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 3.5rem;
}

.banner-list ul li:nth-child(1) span {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px 11px 4px 12px;
    margin: 0px 18px 0px 2px;
}

.banner-list ul li:nth-child(2) {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 3rem;
}

.banner-list ul li:nth-child(2) span {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    margin: 0px 19px 0px 1px;
}

.banner-list ul li:nth-child(3) {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 3.5rem;
}

.banner-list ul li:nth-child(3) span {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    margin: 0px 20px 0px 2px;
}

.banner-btn-block {
    margin: 35px 0 0 3px;
}

.banner-button {
    width: 270px;
    height: 45px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-right: 37px;
}

.icon-play{
    background-image : url(/assets/icons/banner-button-right-arrow-.png);
    background-size: cover;
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 188px;
  }

  .video-content {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 77px;
    padding-bottom: 3px;

  }
/*  ===============================
     --- animation-play-button ---
    =============================== */
  .play-btn {
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 50%;
    position: relative;
    display: block;
    left: 46px;
    bottom: 8px;
  }

  /* triangle */
  .play-btn::after {
    content: "";
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-32%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid #e47031;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  /* pulse wave */
  .play-btn:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
    top: -50%;
    left: -50%;
    background: rgba(198, 16, 0, 0);
  }

  .round-2 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    display: block;
  }

.round-2:before {
    content: "";
    position: absolute;
    width: 250%;
    height: 250%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
    top: -74%;
    left: -76%;
    background: rgba(198, 16, 0, 0);
}

  @-webkit-keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;

    }
  }

  @keyframes pulsate1 {
    0% {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1);
      opacity: 0;
      box-shadow: none;

    }
  }

// futures

.futures {
    // margin-bottom for futures block
    margin-bottom: 54px;
    h1 {
    color: $gray-QRchance;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 75px;
    margin-left: 18px;
    margin-bottom: 90px;
    }
}

.content-futures div {

    .icon-1-futures {
        background-image : url(/assets/icons/couple.svg);
        background-size: cover;
        display: inline-block;
        height: 49px;
        width: 49px;
        position: relative;
        left: -5px;
        margin-bottom: 19px;
    }
    .icon-2-futures {
        background-image : url(/assets/icons/smartphone.svg);
        background-size: cover;
        display: inline-block;
        height: 49px;
        width: 49px;
        position: relative;
        // left: -5px;
        margin-bottom: 19px;
    }
    .icon-3-futures {
        background-image : url(/assets/icons/parents.svg);
        background-size: cover;
        display: inline-block;
        height: 49px;
        width: 49px;
        position: relative;
        // left: -5px;
        margin-bottom: 19px;
    }
    h4{
        font: {
            family: "Montserrat", sans-serif;
            size: 15px;
            weight: bold;
        }
        margin-bottom: 23px;
    }
    p {
        font: {
            family: "Montserrat", sans-serif;
            size: 15px;
            weight: normal;
        }
    }
    width: 370px;
}

// block-histories
.bg-color {
    background: #f5f5f5;
    h1 {
        color: $gray-QRchance;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: bold;
        padding-top: 70px;
        margin-left: 18px;
        margin-bottom: 59px;
    }
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
    .card-text {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.3rem;
        margin-bottom: 10px;
    }
    .btn-custom {
        font: {
            family: "Montserrat", sans-serif;
            size: 12px;
            weight: normal;
        }
        width: 120px;
        height: 30px;
        position: relative;
        left: 7px;
        color: white;
        background: linear-gradient(30deg, rgba(235,134,44,1) 0%, rgba(227,89,48,1) 100%);
        line-height: 1rem;
    }
    .user-img-bottom {
        width: 365px;
        height: 221px;
        position: relative;
        left: -20px;
        top: 21px;
        border-radius: 0 0 0.3rem 0.3rem;
        overflow: hidden;
        img {
            width: 100%;
            position: relative;
            bottom: 10%;

        }
    }
}

.card-head {
    padding: 0;
    margin-bottom: 18px;
    .user-photo{
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }
    .user-location {
        display: inline-block;
        position: absolute;
        left: 90px;
        top: 13px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: normal;
    }
    .user-initial {
        display: inline-block;
        position: absolute;
        left: 90px;
        top: 31px;
        font: {
            family: "Montserrat", sans-serif;
            size: 15px;
            weight: bold;
        }
    }
    .last-visit-date {
        display: inline-block;
        position: absolute;
        left: 83%;
        top: 13px;
        font: {
            family: "Montserrat", sans-serif;
            size: 12px;
            weight: normal;
        }
    }

}

.btn-block-load-more {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 131px;
    .btn-refresh {
        border: 1px solid $orange-QRcahnce;
        width: 270px;
        height: 45px;
        font: {
            family: "Montserrat", sans-serif;
            size: 15px;
            weight: normal;
        }
        .icon-refresh{
            background-image: url(/assets/icons/refresh.svg);
            background-size: cover;
            height: 20px;
            width: 21px;
            display: inline-block;
            position: relative;
            right: 6px;
            top: 3px;
        }
    }
}

// FAQ
.bg-banner-faq {
    background: url(/assets/images/banner_faq.jpg);
    background-position: bottom;
    background-size: cover;
    height: 833px;
}

.title-faq {
    h1 {
        color: white;
        margin-bottom: 22px;
        text-align: center;
        position: relative;
        top: 80px;
        left: 10px;
        font: {
            family: "Montserrat", sans-serif;
            size: 30px;
            weight: bold;
        }
    }
}

.accordion-block {
    padding: 124px 6px 0 2px;

}

.card-title-accordion {
    font: {
        family: "Montserrat", sans-serif;
        size: 15px;
        weight: normal;
    }
    button {
        width: 20px;
        height: 3px;
        border: none;
        background: $orange-QRcahnce;
        margin: 6px 0 0 0px;
        text-decoration: none;
    }
    button:focus {
        outline: none;
    }
}

.panel-group .panel-heading a:after {
    content: '-';
    float: right;
  }

  .panel-group .panel-heading a.collapsed:after {
    content: '+';
  }

.card {
    min-height: 45px;
    margin-bottom: 8px;
}

.card-header {
    border: none;
    background: none;
    }

.btn-histories-load-more {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 131px;
    .btn-refresh {
        border: 1px solid $orange-QRcahnce;
        width: 270px;
        height: 45px;
        font: {
            family: "Montserrat", sans-serif;
            size: 15px;
            weight: normal;
        }
        .icon-refresh{
            background-image: url(/assets/icons/refresh.svg);
            background-size: cover;
            height: 20px;
            width: 21px;
            display: inline-block;
            position: relative;
            right: 6px;
            top: 3px;
        }
    }
}

// container size & position 1920 FHD resolution
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 1157px;
    }
  }
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 64px;
}
